# Node modules
node_modules

# Environment variable file
.env

# Package JSON files
package-lock.json
script/package-lock.json
package.json

# Private datas
backend/models/customer.js
backend/models/users.js
backend/routes/customer.js
backend/routes/users.js
