/*
All the image has been taken by the owner of the website or
has been taken from free download site.
Version : 1.0
Description : Responsive, beautiful and useful
Author URI : ../hackdown.html
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
/* Font écriture 1 */
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
/* ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: auto;
}

body {
  background: rgba(255, 0, 0, .3);
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
  position: relative;
  min-height: 100%;
}

.page-wrapper {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-menu {
  background: #111;
  padding: 20px;
  display: flex;
}

.main-menu .hd-logo {
  text-transform: uppercase;
  color: #fff;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-size: 22px;
  font-weight: 700;
  padding-left: 10px;
  flex: 1;
  box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo:hover {
  transition: .5s ease;
  color: #ff3d00;
}

.auth-icon {
  font-size: 18px;
  cursor: pointer;
  display: flex;
  padding-top: 3px;
}

.auth-icon a {
  text-decoration: none;
  color: #fff;
}

.auth-icon a:hover {
  transition: .5s ease;
  color: #ff3d00;
}

.auth-menu {
  position: absolute;
  padding: 10px;
  top: 80px;
  width: 370px;
  background: #d3d3d3;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, .75);
  box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, .75);
  display: none;
}

.auth-menu .close {
  cursor: pointer;
  position: relative;
  left: 95%;
  display: inline-block;
}

.auth-menu .close span {
  transform: rotate(45deg);
}

.auth-menu .close span:hover {
  color: #ff3d00;
  transform: rotate(90deg);
  transition: .2s;
}

.auth-menu .close span:not(:hover) {
  transform: rotate(-45deg);
  transition: .2s;
}

.auth-menu form {
  padding: 10px;
}

form .auth-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #111;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .auth-title,
form .username,
form .password,
form .btn-send {
  padding: 10px 2px;
}

form .auth-title .auth-separator {
  position: relative;
  border-bottom : 1px solid grey;
  width: 245px;
  left: 40px;
  padding-top: 20px;
}

.username,
.password {
  display: flex;
  height: 50px;
  width: 100%;
}

form .username span,
form .password span {
  color: #111;
  text-transform: uppercase;
  font-size: 12px;
}

form label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

form .username input,
form .password input {
  text-align: center;
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  color: #111;
  background: #d3d3d3;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  box-shadow: inset 2px 2px 5px #cacaca,
              inset -5px -5px 10px #ffffff73;
  -webkit-box-shadow: inset 2px 2px 5px #cacaca,
                      inset -5px -5px 10px #ffffff73;
  -moz-box-shadow: inset 2px 2px 5px #cacaca,
                   inset -5px -5px 10px #ffffff73;
}

form .username input:focus,
form .password input:focus {
  box-shadow: inset -2px -2px 5px #cacaca,
              inset -5px -5px 10px #ffffff73;
  -webkit-box-shadow: inset -2px -2px 5px #cacaca,
                      inset -5px -5px 10px #ffffff73;
  -moz-box-shadow: inset -2px -2px 5px #cacaca,
                   inset -5px -5px 10px #ffffff73;
}

form .username span,
form .password span {
  position: absolute;
  color: #888;
  line-height: 30px;
  margin-left: 15px;
}

.fas.fa-eye-slash {
  margin-left: 300px;
  cursor: pointer;
}

form .username label,
form .password label {
  position: absolute;
  color: #888;
  line-height: 30px;
  margin-left: 40px;
  pointer-events: none;
}

form .username input:valid ~ label,
form .password input:valid ~ label {
  opacity: 0;
}

form .btn-send {
  text-align: center;
}

form .btn-send input {
  text-transform: uppercase;
  color: #888;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 30px;
  background: transparent;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  cursor: pointer;
}

.auth-menu .other-auth {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #111;
  display: block;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.other-auth:before,
.other-auth:after {
  content: '';
  width: 8em;
  border-bottom: rgba(1, 1, 1, .35) solid;
  display: inline-block;
  vertical-align: middle;
}

.other-auth:before {
  margin-left: -100%;
  margin-right: .75em;
}

.other-auth:after {
  margin-right: -100%;
  margin-left: .75em;
}

.links {
  display: flex;
  cursor: pointer;
}

.links i {
  font-size: 25px;
  line-height: 40px;
  margin-left: 9px;
}

.facebook i,
.google i {
  padding-left: 5px;
}

.links span {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  padding-left: 12px;
  font-family: 'Montserrat', sans-serif;
}

.google span {
  padding-left: 20px;
}

.facebook,
.google {
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 25px;
  margin: 0 10px;
  transition: .3s;
}

.facebook {
  background-color: #4267b2;
}

.google {
  background-color: #dd4b39;
}

.facebook:hover {
  border: 1px solid #4267b2;
}

.facebook i,
.facebook span,
.google i,
.google span {
  color: #fff;
}

.google:hover {
  border: 1px solid #fff;
}

.signup {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signup a {
  color: #3498db;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

div .wrapper-footer {
  width: 100%;
  background: #111;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.left .content p {
  text-align: justify;
  color: #fff;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
  color: #fff;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: .3s;
}

.left .content .social .fa-facebook-f:hover {
  background: #3b5998;
}

.left .content .social .fa-twitter:hover {
  background: #00acee;
}

.left .content .social .fa-instagram:hover {
  background: #e1306c;
}

.left .content .social .fa-youtube:hover {
  background: #c4302b;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  color: #fff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f12020;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: #fff;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg,
.right form .btn {
  margin-top: 10px;
}

.right form input,
.right form #msgForm {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
.right form #msgForm:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form input,
.right form textarea {
  color: #656565;
  font-family: 'Montserrat', sans-serif;
}

.right form .btn button {

  height: 40%;
  width: 100%;
  border: none;
  border-radius: 25px;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover {
  background: #f62121;
}

.right form .error,
.right form .error span {
  color: #f12929;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #111;
  color: #fff;
}

.bottom center span {
  color: #fff;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width:900px) {
  .main-content .box {
    margin: 5px 0;
  }

  .box-content-1,
  .box-content-2,
  .box-content-3 {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }

  .box-content-1 .img-pres-1,
  .box-content-2 .img-pres-2,
  .box-content-3 .img-pres-3-1,
  .box-content-3 .img-pres-3-2 {
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .txt-pres-1,
  .txt-pres-2,
  .txt-pres-3 {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .wrapper-footer .mail .text {
    font-size: .9rem;
  }

  .wrapper-footer .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.wrapper-content .box-title {
  margin: 50px 0 50px 0;
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper-content .box-title h1 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper-content {
  padding: 20px 0;
  overflow-y: auto;
  margin: 2px 0;
}

.wrapper-content .top-separator,
.wrapper-content .bot-separator {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 70%;
  left: 15%;
}

.wrapper-content .top-separator {
  margin-top: 100px;
}

.wrapper-content .bot-separator {
  margin-bottom: 100px;
}

.box-content-1,
.box-content-2,
.box-content-3 {
  display: flex;
  margin-bottom: 100px;
  padding: 10px 10px 10px 0;
}
.box-content-2 {
  justify-content: flex-end;
}

.box-content-3 {
  justify-content: space-between;
}

.wrapper-content .box-content-1 .img-pres-1,
.wrapper-content .box-content-1 .txt-pres-1,
.wrapper-content .box-content-2 .img-pres-2,
.wrapper-content .box-content-2 .txt-pres-2,
.wrapper-content .box-content-3 .txt-pres-3,
.wrapper-content .box-content-3 .img-pres-3-1,
.wrapper-content .box-content-3 .img-pres-3-2 {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.wrapper-content .box-content-1 .img-pres-1,
.wrapper-content .box-content-2 .img-pres-2,
.wrapper-content .box-content-3 .img-pres-3-1,
.wrapper-content .box-content-3 .img-pres-3-2 {
  height: 250px;
  width: 250px;
  flex-shrink: 0;
}

.wrapper-content .box-content-1 .txt-pres-1,
.wrapper-content .box-content-2 .txt-pres-2,
.wrapper-content .box-content-3 .txt-pres-3 {
  min-width: 10%;
  align-content: center;
  padding: 10px;
  margin: 5px 0;
  color: #555;
  display: flex;
  cursor: default;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.txt-pres-1 p,
.txt-pres-2 p,
.txt-pres-3 p {
  text-align: center;
}
